@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

html{
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    height: inherit;
    background-color: #252222;
    color: #f5f5f5;
}

.catalogues li{
    list-style: none;
}

.catalogues .item{
    padding: 5px;
    margin-bottom: 5px;
    background-color: #404040;
    font-weight: bold;
}

.catalogues .item:hover,
.catalogues .item.active {
    background: rgb(80, 185, 231);
    color: #f5f5f5;
}

ul.firstBlock{
    padding-left: 0;
}

.magazines li{
    list-style: none;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px dashed grey;
    background-color: #303030;
}

.header{
    margin-top: 15px;
    margin-bottom: 15px;
}
.header h2{
    margin-top: 0;
    margin-bottom: 0;
}

.magazines{
    /*-webkit-transition : -webkit-filter 250ms linear;*/
}

.blur{
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.popover{
    width: 276px;
    color: #252222;
}
.popoverControl{
    margin-top: 5px;
}